<section class="choco">
  <div class="container mamaska">
    <div class="card">
      <svg width="40" height="40" class="icon">
        <use href="/img/icons.svg#icon-cart"></use>
      </svg>
      <h3>Supplier</h3>
      <p>
        A reliable supplier of fresh products guarantees high quality, and
        always takes care of the freshness of each product.
      </p>
    </div>
    <div class="card">
      <svg width="40" height="40" class="icon">
        <use href="/img/icons.svg#icon-price"></use>
      </svg>
      <h3>Affordable prices</h3>
      <p>
        We offer fresh products at affordable prices, combining quality and
        favorable conditions for each buyer.
      </p>
    </div>
    <div class="card">
      <svg width="40" height="40" class="icon">
        <use href="/img/icons.svg#icon-time"></use>
      </svg>
      <h3>Fast delivery at a convenient time</h3>
      <p>
        We provide fast delivery at a time convenient for you so that you
        receive Fresh food without unnecessary worries.
      </p>
    </div>
  </div>
</section>
