<footer class="basement">
  <div class="container footer-container">
    <div class="basement-logo">
      <a class="logo footer-logo" href="./index.html"></a>
        <svg class="footer-logo-icons" width="168" height="16">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <p class="footer-text">
        Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.
      </p>
      <ul class="social-list social-list-footer">
        <li class="footer-item">
          <a class="link-footer" href="#How-it-works">
            <p class="footer-text-link">how it works</p>
          </a>
        </li>
        <li class="footer-item">
          <a class="social-link social-link-footer" href="#Vegetables">
            <p class="footer-text-link">vegetables</p>
          </a>
        </li>
        <li class="footer-item">
          <a class="social-link social-link-footer" href="#Reviews">
           <p class="footer-text-link">reviews</p>
          </a>
          </li>
      </ul>
    </div>
    <div class="footer-contacts">
      <address class="address">
        <a class="contacts-text contacts-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
        <p class="contacts-text address-text">1678 S. Pioneer Road Salt Lake City UT 84104</p>
      </address>
    </div>
    <div class="footer-policy">
      <p class="policy-text">Privacy Policy
      <span class="policy-text policy-span">/</span>Cookie settings</p>
    </div>
    <p class="text-desc">©Green Harvest 2023</p>
  </div>

</footer>
