<header class="header">
  <div class="container header-container">
    <a href="/index.html" class="logo">
      <svg width="168" height="16" class="icon-logo">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <button
      type="button"
      class="btn-menu js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="32" height="32" class="icon-menu">
        <use href="/img/icons.svg#icon-menu" class="icon-logo"></use>
      </svg>
    </button>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#how-it-works" class="nav-link">How it Works?</a>
        </li>
        <li class="nav-item">
          <a href="#vegetables" class="nav-link">Vegetables</a>
        </li>
        <li class="nav-item">
          <a href="#Reviews" class="nav-link">Reviews</a>
        </li>
      </ul>
      <a href="#your-order" class="nav-shop-btn">SHOP NOW</a>
    </nav>
  </div>
</header>
