<section class="highlights">
  <h2 class="visually-hidden">Highlights</h2>
  <div class="container">
    <div class="highlights-container">
      <div class="card">
        <svg width="24" height="24" class="icon">
          <use xlink:href="/img/icons.svg#icon-agriculture"></use>
        </svg>
        <h3 class="hcard">Supplier</h3>
        <p class="cardopis">
          A reliable supplier of fresh products guarantees high quality, and
          always takes care of the freshness of each product.
        </p>
      </div>
      <div class="card">
        <svg width="24" height="24" class="icon">
          <use xlink:href="/img/icons.svg#icon-banknote"></use>
        </svg>
        <h3 class="hcard">Affordable prices</h3>
        <p class="cardopis">
          We offer fresh products at affordable prices, combining quality and
          favorable conditions for each buyer.
        </p>
      </div>
      <div class="card">
        <svg width="24" height="24" class="icon">
          <use xlink:href="/img/icons.svg#icon-truck"></use>
        </svg>
        <h3 class="hcard">Fast delivery</h3>
        <p class="cardopis">
          We provide fast delivery at a time convenient for you so that you
          receive fresh food without unnecessary worries.
        </p>
      </div>
    </div>
  </div>
</section>
