<div class="how_it_works-wrapper">
  <section class="how_it_works" id="how-it-works">
    <div class="container-works-images">
      <h2 class="sr-only">Steps for Buying Vegetables</h2>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/order/order_desctop.jpg    1x,
            /img/order/order_desctop@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="/img/order/order_tab.jpg 1x, /img/order/order_tab@2x.jpg 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="/img/order/order_mob.jpg 1x, /img/order/order_mob@2x.jpg 2x"
        />
        <img
          class="responsive-image"
          src="/img/order/order_desctop.jpg"
          alt="Girl is slicing vegetables"
        />
      </picture>
    </div>
    <div class="container-works-list">
      <div class="div-works-title">
        <h2 class="works-list-title">
          To order your <span class="works-span">vegetable</span> basket, simply
          follow these
          <span class="works-span">easy steps</span>
        </h2>
        <p class="works-text">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </div>
      <ol class="ol-works-list">
        <li class="li-works-list">
          <div class="text-works-container">
            Just choose <span class="span-works-list">the vegetable</span> you
            want to order by clicking on the checkboxes
            <span class="span-works-list">next to it</span>.
          </div>
        </li>
        <li class="li-works-list">
          <div class="text-works-container">
            Click on <span class="span-works-list">the basket</span> and fill
            out the form.
          </div>
        </li>
        <li class="li-works-list">
          <div class="text-works-container">
            Sit back and relax! Your
            <span class="span-works-list">fresh vegetables</span> basket will be
            delivered.
          </div>
        </li>
      </ol>
    </div>
  </section>
</div>
