

<button type="button" class="mobile-menu-open">☰ Open Menu</button>

    <div class="overlay">
        <div class="mobile-menu">
            <div class="container mobile-menu-container">
                <button type="button" class="mobile-menu-close">
                    <svg class="mobile-close-svg" width="32" height="32">
                    <use href="/img/icons.svg#icon-close"></use>
                </svg></button>
                <nav class="mobile-menu-nav">
                    <ul class="mobile-menu-list">
                        <li class="mobile-menu-item">
                            <a class="mobile-menu-link" href="#how-it-works">How It Works</a>
                        </li>
                        <li class="mobile-menu-item">
                            <a class="mobile-menu-link" href="#vegetables">Vegetables</a>
                        </li>
                        <li class="mobile-menu-item">
                            <a class="mobile-menu-link" href="#reviews">Reviews</a>
                        </li>
                    </ul>
                </nav>
                <button type="button" class="shop" href="#your-order">Shop now</button>
            </div>
        </div>
    </div>
    <script src="../js/mob.js" defer></script>
