<div class="overlay js-menu-container" id="mobile-menu">
  <div class="mobile-menu">
    <div class="container mobile-menu-container">
      <button class="mobile-menu-close js-close-menu">
        <svg class="mobile-close-svg" width="32" height="32">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a href="#how-it-works" class="mobile-menu-link" href=""
              >How It Works</a
            >
          </li>
          <li class="mobile-menu-item">
            <a href="#vegetables" class="mobile-menu-link" href=""
              >Vegetables</a
            >
          </li>
          <li class="mobile-menu-item">
            <a href="#reviews" class="mobile-menu-link" href="">Reviews</a>
          </li>
        </ul>
      </nav>
      <a class="shop" href="#your-order">Shop now</a>
    </div>
  </div>
</div>
