<section class="vegetables" id="vegetables">
  <div class="container">
    <div class="vegetables-wrap">
      <h2 class="vegetables-title">
        organic <br /><span class="vegetables-caption">vegetables</span>
      </h2>
      <p class="vegetables-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <div class="vegetables-wrapper">
          <h3 class="vegetables-subtitle">eggplant</h3>
          <p class="vegetables-desc">60 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/vegetables/eggplant_desktop.png    1x,
                /img/vegetables/eggplant_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/vegetables/eggplant_tab.png    1x,
                /img/vegetables/eggplant_tab@2x.png 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                /img/vegetables/eggplant_mob.png    1x,
                /img/vegetables/eggplant_mob@2x.png 2x
              "
            />
            <img
              class="vegetables-image"
              src="/img/vegetables/eggplant_mob.png"
              alt="Eggplant"
              width="280"
              height="240"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-wrapper">
          <h3 class="vegetables-subtitle">leek</h3>
          <p class="vegetables-desc">50 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/vegetables/leek_desktop.png    1x,
                /img/vegetables/leek_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/vegetables/leek_tab.png    1x,
                /img/vegetables/leek_tab@2x.png 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                /img/vegetables/leek_mob.png    1x,
                /img/vegetables/leek_mob@2x.png 2x
              "
            />
            <img
              class="vegetables-image"
              src="/img/vegetables/leek_mob.png"
              alt="Eggplant"
              width="280"
              height="240"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-wrapper">
          <h3 class="vegetables-subtitle">mushrooms</h3>
          <p class="vegetables-desc">40 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/vegetables/mushrooms_desktop.png    1x,
                /img/vegetables/mushrooms_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/vegetables/mushrooms_tab.png    1x,
                /img/vegetables/mushrooms_tab@2x.png 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                /img/vegetables/mushrooms_mob.png    1x,
                /img/vegetables/mushrooms_mob@2x.png 2x
              "
            />
            <img
              class="vegetables-image"
              src="/img/vegetables/mushrooms_mob.png"
              alt="Eggplant"
              width="280"
              height="240"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-wrapper">
          <h3 class="vegetables-subtitle">corn</h3>
          <p class="vegetables-desc">60 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/vegetables/corn_desktop.png    1x,
                /img/vegetables/corn_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/vegetables/corn_tab.png    1x,
                /img/vegetables/corn_tab@2x.png 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                /img/vegetables/corn_mob.png    1x,
                /img/vegetables/corn_mob@2x.png 2x
              "
            />
            <img
              class="vegetables-image"
              src="/img/vegetables/corn_mob.png"
              alt="Eggplant"
              width="280"
              height="240"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-wrapper">
          <h3 class="vegetables-subtitle">sweet potatoes</h3>
          <p class="vegetables-desc">50 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/vegetables/sweetpotatoes_desktop.png    1x,
                /img/vegetables/sweetpotatoes_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/vegetables/sweetpotatoes_tab.png    1x,
                /img/vegetables/sweetpotatoes_tab@2x.png 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                /img/vegetables/sweetpotatoes_mob.png    1x,
                /img/vegetables/sweetpotatoes_mob@2x.png 2x
              "
            />
            <img
              class="vegetables-image"
              src="/img/vegetables/sweetpotatoes_mob.png"
              alt="Eggplant"
              width="280"
              height="240"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-wrapper">
          <h3 class="vegetables-subtitle">carrot</h3>
          <p class="vegetables-desc">40 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/vegetables/carrot_desktop.png    1x,
                /img/vegetables/carrot_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/vegetables/carrot_tab.png    1x,
                /img/vegetables/carrot_tab@2x.png 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                /img/vegetables/carrot_mob.png    1x,
                /img/vegetables/carrot_mob@2x.png 2x
              "
            />
            <img
              class="vegetables-image"
              src="/img/vegetables/carrot_mob.png"
              alt="Eggplant"
              width="280"
              height="240"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
