/* Основні стилі футера */
.basement {
  background-color: #7a3145;
  padding: 40px 0px;
  color: #fbfbfb;
}

/* футер (мобільна версія) */
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Логотип */
.footer-logo {
  font-size: 18px;
  font-weight: 700;
}

.footer-icons {
  margin-bottom: 14px;
}

/* Опис */
.footer-text {
  font-size: 14px;
  line-height: 1.4;
}

/* Меню */
.footer-menu {
  margin-top: 10px;
}

.footer-item {
  margin-bottom: 14px;
}

.link-footer {
  color: #fbfbfb;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  font-size: 32px;
  font-style: normal;
  line-height: 32px;
}
.link-footer:focus {
  color: #602736;
}

.link-footer:hover {
  opacity: 0.7;
}

/* Контакти */

.footer-phone {
  font-weight: bold;
  color: #fbfbfb;
  text-decoration: none;
  display: block;
  margin-bottom: 14px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.footer-address {
  font-size: 14px;
  line-height: 1.4;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.footer-address:hover {
  opacity: 0.7;
}

/* Політика та авторське право */
.footer-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  font-size: 14px;
  color: #d4bfc4;
}
.policy-text {
  color: #d4bfc4;
}

.copyright {
  margin-top: 16px;
}

/* СТИЛІ ДЛЯ ПЛАНШЕТНОЇ ВЕРСІЇ (768px+) */
@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 212px;
    margin-bottom: 100px;
  }

  .footer-info {
    max-width: 250px;
  }

  .footer-icons {
    margin-bottom: 24px;
    width: 186px;
    height: 17px;
  }

  .menu-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 60px;
  }

  .footer-menu {
    text-align: center;
    margin-bottom: 44px;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-contacts {
    text-align: start;
  }

  .footer-address {
    text-align: left;
  }

  /* Політика та авторське право */
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* СТИЛІ ДЛЯ ДЕСКТОПНОЇ ВЕРСІЇ (1280px+) */
@media screen and (min-width: 1280px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 121px;
    margin-bottom: 124px;
  }

  .footer-text {
    max-width: 265px;
  }

  .footer-info {
    max-width: 400px;
  }

  .menu-contacts {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
  }

  .footer-menu {
    text-align: right;
    margin-top: 0;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-contacts {
    text-align: right;
  }

  /* Політика та копірайт у рядок */
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
