.basement {
  background-color: #7a3145;
  padding: 40px 0;
  width: 100%;
  min-height: 100vh;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 100%;
}

.basement-logo {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-logo-icons {
  display: block;
  margin-bottom: 14px;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.footer-case {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 40px;
}

.footer-text-link {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  color: #fbfbfb;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 80px;
  align-items: flex-start;
}

.contacts-text {
  color: #fbfbfb;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.address {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-policy {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.policy-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #d4bfc4;
}

.policy-span {
  padding: 0 8px;
}

.text-desc {
  color: #d4bfc4;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .basement-logo {
    flex-direction: row;
  }

  .basement-content {
    display: flex;
    flex-direction: column;
    margin-right: 212px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .social-list {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
  }

  .footer-policy {
    flex-direction: row;
    position: absolute;
    transform: translateY(50%);
    bottom: 5%;
  }

  .text-span {
    display: flex;
    gap: 49px;
    justify-content: space-between;
  }

  .policy-text {
    font-size: 16px;
    line-height: 20px;
    margin-right: 0 auto;
  }
}

@media screen and (min-width: 1158px) {
  .policy-span {
    padding-left: 12px;
    padding-right: 12px;
  }

  .footer-content {
    flex-direction: row;
    gap: 120px;
  }
  .basement-content {
    margin-right: 250px;
    width: 265px;
  }
  .social-list-footer {
    min-width: 227px;
    margin-bottom: 0;
  }
}
