.highlights {
  background-color: #576f35;
  padding: 20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  background-color: #7a3145;
  color: #fbfbfb;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}
.icon {
  fill: white;
  margin-bottom: 10px;
}
.hcard {
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .container {
    flex-direction: row;
  }
  .card {
    width: 30%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%;
  }
}
