.vegetables {
    background-color: #7a3145;
    padding: 80px 0;
    margin: 0 auto;
}

.vegetables-wrap {
    display: block;
    max-width: 335px;
    margin: 0 auto 40px;
}

.vegetables-title {
    color: #fbfbfb;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.08;
    letter-spacing: -0.01em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.vegetables-caption {
    color: #d4bfc4;
}

.vegetables-text {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
}

.vegetables-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.vegetables-item {
    background-color: #fbfbfb;
    max-width: 335px;
    border: none;
    border-radius: 40px;
    padding: 32px 31px 32px 24px;
    margin: 0 auto;
}

.vegetables-subtitle {
    color: #7a3145;
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.vegetables-desc {
    color: #141414;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {
    .vegetables-wrap {
        max-width: 626px;
        margin: 0 0 52px 0;
    }

    .vegetables-title {
        font-size: 64px;
        line-height: 1;
        margin-bottom: 24px;
    }

    .vegetables-text {
        font-size: 16px;
        line-height: 1.25;
    }

    .vegetables-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 28px 24px;
    }

    .vegetables-item {
        max-width: calc((100% - 24px) / 2);
        padding: 32px 30px;
    }

    .vegetables-subtitle {
        font-size: 32px;
        line-height: 1;
    }

    .vegetables-desc {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 12px;
    }
}

@media only screen and (min-width: 1280px) {
    .vegetables-item {
        max-width: calc((100% - 48px) / 3);
        padding: 32px;
    }

    .vegetables-desc {
        margin-bottom: 8px;
    }
}

